@import "fonts.scss";
@import "main.scss";
.showcase-header {
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    margin-bottom: 80px;
    .header-sort {
        display: flex;
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: center;
        color: #1d1f22;

        .sort-item {
            cursor: pointer;
            margin-right: 32px;
            &:nth-last-child(1) {
                margin-right: 0px;
            }
            &:hover {
                color: #5ece7b;
            }
            &.sort-item-active {
                color: #5ece7b;
            }
        }
    }
    .header-logo {
        margin-left:-70px;
        margin-top: 15px;
    }
    .header-right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        .header-change {
            margin-right: 30px;
            cursor: pointer;
            position: relative;
            .currency-symbol {
                font-family: "Raleway";
                font-size: 18px;
                font-weight: 500;
                line-height: 45px;
                letter-spacing: 0em;
                text-align: center;

                width: 50px;
            }
            .currency-list {
                width: 100px;
                padding: 10px 0px;
                display: flex;
                flex-direction: column;
                z-index: 10;
                position: absolute;

                top: 30px;
                left: -10px;
                justify-content: center;
                background: #ffffff;
                filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
                .currency-item {
                    font-family: "Raleway";
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 45px;
                    letter-spacing: 0em;
                    text-align: left;
                    padding-left: 22px;

                    cursor: pointer;
                    margin-bottom: 3px;
                    height: 45px;
                    &:hover {
                        background: #eeeeee;
                    }
                    &.active {
                        background: #eeeeee;
                    }
                }
            }
        }
    }
    .header-cart {
       position:relative;
        & img {
            margin-top: 5px;
            
        }
        .cart-counter {
            position: absolute;
            top: 0;
            left: 60%;
            color:white;
            background: #1D1F22;
            border-radius: 60px;
            min-width: 20px;
            min-height: 20px;
            text-align: center;
                        font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;

           
            
        }
        
    }
}
