@import "main.scss";
@import "fonts.scss";
@import "header.scss";

.pdp-cart {
    display: flex;
    column-gap: 35px;
    .pdp-left-imgs {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .pdp-cart-main {
        display: flex;
        .cart-img {
            padding: 0px 100px 100px 0px;
        }
    }
}
.cart-item_left {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    .item-title {
        font-family: Raleway;
        font-size: 30px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
    }
    .item-description {
        font-family: Raleway;
        font-size: 30px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 23px;
    }
    .item-price {
        margin-bottom: 20px;
        .price-text {
            font-family: Roboto Condensed;
            font-size: 18px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: center;
            display: inline-block;
            margin-bottom: 20px;
        }
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .item-size {
        .size-text {
            font-family: Roboto Condensed;
            font-size: 18px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: center;
            display: inline-block;
            margin-bottom: 8px;
        }
        .sizes {
            display: flex;
            justify-content: space-between;
            & * {
                margin-right: 10px;
            }

            .l,
            .m,
            .s,
            .xs {
                width: 63px;
                height: 45px;
                background: #ffffff;
                border: 1px solid #1d1f22;
                text-align: center;
                line-height: 45px;
            }
        }
    }
    .item-color {
        margin-bottom: 20px;
        .color-text {
            font-family: Roboto Condensed;
            font-size: 18px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: center;
            display: inline-block;
            margin-bottom: 10px;
        }
        .colors {
            display: flex;
            & * {
                margin-right: 8px;
            }
            .color {
                width: 32px;
                height: 32px;
                border: 1px solid black;
            }
        }
    }
    .pdp-button {
        background-color: #5ece7b;
        max-width: 292px;
        height: 48px;
        border: none;
        margin-bottom: 20px;

        & span {
            font-family: Raleway;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
        }
    }
    .item-about {
        max-width: 292px;
        & span {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}
